.cart-element {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.cart-name {
  width: 110px;
  height: 2em;
  font-size: 10px;
  overflow-y: hidden;
}

.cart-counter {
  display: flex;
  align-items: center;
}

.cart-element button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #00ccbc;
  border: solid #00ccbc 2px;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
