.presentation img {
  width: 100%;
  border-radius: 10px;
}

.presentation {
  margin-top: 20px;
  background-color: white;

  padding-bottom: 30px;
}

.presentation .left-panel,
.presentation .right-panel {
  background-color: white;
}
